--
-- PostgreSQL database dump
--

\restrict bvAwOOHO2nJaEfSF4hgTEJ01fxQ8dsxLDQDAMbW5DRNpvaXIYj27yffKzHGZSzB

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dim_produto; Type: TABLE; Schema: public; Owner: user_analytics
--

CREATE TABLE public.dim_produto (
    product_id integer NOT NULL,
    sku character varying(100),
    product_name character varying(200),
    category character varying(100),
    brand character varying(100),
    price numeric(10,2),
    rating numeric(4,2),
    stock integer,
    barcode character varying(50),
    created_at date
);


ALTER TABLE public.dim_produto OWNER TO user_analytics;

--
-- Name: dim_produtos; Type: TABLE; Schema: public; Owner: user_analytics
--

CREATE TABLE public.dim_produtos (
    product_id bigint,
    sku text,
    product_name text,
    category text,
    brand text,
    price double precision,
    rating double precision,
    stock bigint,
    barcode text,
    created_at date
);


ALTER TABLE public.dim_produtos OWNER TO user_analytics;

--
-- Name: dim_usuario; Type: TABLE; Schema: public; Owner: user_analytics
--

CREATE TABLE public.dim_usuario (
    user_id integer NOT NULL,
    name character varying(150),
    email character varying(150),
    gender character varying(20),
    birthdate date,
    city character varying(100),
    state character varying(100),
    country character varying(100)
);


ALTER TABLE public.dim_usuario OWNER TO user_analytics;

--
-- Name: fact_transacao; Type: TABLE; Schema: public; Owner: user_analytics
--

CREATE TABLE public.fact_transacao (
    sale_id integer NOT NULL,
    user_id integer,
    product_id integer NOT NULL,
    transaction_date date,
    quantity integer,
    unit_price numeric(10,2),
    total_price numeric(10,2),
    discount_pct numeric(5,2),
    final_price numeric(10,2)
);


ALTER TABLE public.fact_transacao OWNER TO user_analytics;

--
-- Data for Name: dim_produto; Type: TABLE DATA; Schema: public; Owner: user_analytics
--



--
-- Data for Name: dim_produtos; Type: TABLE DATA; Schema: public; Owner: user_analytics
--



--
-- Data for Name: dim_usuario; Type: TABLE DATA; Schema: public; Owner: user_analytics
--



--
-- Data for Name: fact_transacao; Type: TABLE DATA; Schema: public; Owner: user_analytics
--



--
-- Name: dim_produto dim_produto_pkey; Type: CONSTRAINT; Schema: public; Owner: user_analytics
--

ALTER TABLE ONLY public.dim_produto
    ADD CONSTRAINT dim_produto_pkey PRIMARY KEY (product_id);


--
-- Name: dim_usuario dim_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: user_analytics
--

ALTER TABLE ONLY public.dim_usuario
    ADD CONSTRAINT dim_usuario_pkey PRIMARY KEY (user_id);


--
-- Name: fact_transacao fact_transacao_pkey; Type: CONSTRAINT; Schema: public; Owner: user_analytics
--

ALTER TABLE ONLY public.fact_transacao
    ADD CONSTRAINT fact_transacao_pkey PRIMARY KEY (sale_id, product_id);


--
-- PostgreSQL database dump complete
--

\unrestrict bvAwOOHO2nJaEfSF4hgTEJ01fxQ8dsxLDQDAMbW5DRNpvaXIYj27yffKzHGZSzB

